/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App {
  text-align: center;
  background-image: url('https://images.pexels.com/photos/3944418/pexels-photo-3944418.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.header{
  font-family: italic;
  font-size: 20px;
  color: white;
  background-color: #7aa37b;
  padding: 10px;
}

.footer{
  background-color:rgb(94, 93, 93);
  color: white;
  font-size: larger;
  padding: 14px;
}

.main{
  
  padding: 70px;
}

.title{
  margin-left: 20%;
  margin-right:20% ;
  color: white;
  background-color: rgba(115, 115, 121, 0.356);
  font-size: 30px;
  padding: 3% 3% 1% 1%;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.allbuttons button{
  margin: 0 3px 0 3px;
}

.reset{
  margin: 8px 0 0 0;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}